<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.ac.iitb.cse.intentor">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FORCE_STOP_PACKAGES"/>
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Intentor"
        tools:targetApi="31">
        <receiver
            android:name=".ui.login.NotificationDeleteReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="DELETE_NOTIFICATION" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.login.UnlockReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".alertlaunch.AlertBox"
            android:exported="false"
            android:label="@string/title_activity_alert_box"
            android:theme="@style/Theme.Intentor" />
        <service
            android:name=".ui.login.NotificationForegroundService"
            android:enabled="true"
            android:exported="false" />

        <service
            android:name=".alertlaunch.AppLaunchMonitorService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".alertlaunch.OverlayService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="in.ac.iitb.cse.ACTION_OVERLAY_SERVICE" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.login.ServerLinkActivity"
            android:exported="false" android:theme="@style/Theme.Intentor"
            />
        <activity
            android:name=".dashboard.DashboardScrollingActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard_scrolling"
            android:theme="@style/Theme.Intentor.NoActionBar" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegistrationActivity"
            android:label="Registration Activity" />
    </application>

</manifest>